server {
  listen   80;
  listen   [::]:80 default ipv6only=on;

  add_header Access-Control-Allow-Origin *;

  root /usr/share/nginx/html;
  index index.html;

  gzip on;
  gzip_static on;
	gzip_vary on;
	gzip_proxied any;
	gzip_comp_level 4;
	gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml image/svg+xml;
	gzip_disable "MSIE [1-6]\.";

  server_name www.farmaku.com staging-farmaku.securerx.id; # allow for all hostnames, change when production to www.farmaku.com

  location / {
    try_files $uri @prerender;
  }
  
  $URL_REDIRECTION_CONFIG
  
  location @prerender {
    set $prerender 0;

    if ($http_user_agent ~* "googlebot|bingbot|yandexbot|duckduckbot|slurp|yahoo|twitterbot|facebookexternalhit|linkedinbot|whatsapp|discordbot|telegrambot|embedly|baiduspider|pinterest|slackbot|vkshare|facebot|outbrain|w3c_validator|yeti|yodaobot|gigabot|ia_archiver|googleweblight|mediapartners-google|google-structured-data-testing-tool|developers\.google\.com|ahrefsbot|ahrefssiteaudit|seoscanners|Chrome-Lighthouse") {
      set $prerender 1;
    }

    if ($args ~ "_escaped_fragment_|prerender=1") {
      set $prerender 1;
    }

    if ($http_user_agent ~ "Prerender") {
      set $prerender 0;
    }

		if ($request_method = 'OPTIONS') {
    	# Tell client that this pre-flight info is valid for 20 days
    	add_header 'Access-Control-Max-Age' 1728000;
    	add_header 'Content-Type' 'text/plain charset=UTF-8';
    	add_header 'Content-Length' 0;

    	return 204;
		}

    if ($prerender = 1) {
			add_header 'Access-Control-Allow-Origin' "$http_origin" always;
    	add_header 'Access-Control-Allow-Credentials' 'true' always;
    	add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
    	add_header 'Access-Control-Allow-Headers' 'Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With' always;

      rewrite .* /render/https://$host$request_uri?wc-inject-shadydom=true break;

      proxy_pass https://www.rendertron.securerx.id; #You can use our own hosted Rendertron
    }
		
    if ($prerender = 0) {
      rewrite .* /index.html break;
    }
  }

  location /artikel {
    expires -1;
    
    proxy_set_header Host $host;
    proxy_pass http://128.199.111.167/artikel;
    proxy_redirect     off;
  }

  location /.well-known/apple-app-site-association {
    default_type application/json;
    add_header Cache-Control 'no-store';
    add_header Cache-Control 'no-cache';
    expires 0;
 }

  location /sitemap.xml { return 301 https://storage.googleapis.com/rxstorage/Sitemap/sitemap.xml; }
  location /sitemap/sitemap_product.xml { return 301 https://storage.googleapis.com/rxstorage/Sitemap/sitemap/sitemap_product.xml; }
  location /sitemap/sitemap_brand.xml { return 301 https://storage.googleapis.com/rxstorage/Sitemap/sitemap/sitemap_brand.xml; }
  location /sitemap/sitemap_category.xml { return 301 https://storage.googleapis.com/rxstorage/Sitemap/sitemap/sitemap_category.xml; }
  location /sitemap/sitemap_home.xml { return 301 https://storage.googleapis.com/rxstorage/Sitemap/sitemap/sitemap_home.xml; }
}
