.srx-shadow{
    box-shadow: 0px 0px 4px rgba(51, 53, 55, 0.16);
}
ion-title{
    h1{ 
        font-size: 16px!important;
        font-weight: 700 !important;
        font-family: "Maven Pro", sans-serif;
        --ion-font-family: "Maven Pro", sans-serif;
        margin: 0px!important;
    }
}
.home-icon{
    width: 24px;
    height: 24px;
}