no-result {
	display: block;
	margin: 1rem;
}

.brand-info {
	padding: 1rem;
	display: flex;

	.brand-title {
		margin-left: 1.5rem;
	}
}

.brand-product {
	.brand-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 100%;
		padding-left: 2.5%;
		padding-right: 2.5%;

		.brand-item {
			height: 200px;
			border-radius: 8px;
			display: block;
			width: 47.5%;

			&:nth-child(odd) {
				margin-right: 2.5%;
			}
		}
	}
}