.images-upload{ 
  width: 100%;
  cursor: pointer;
  max-width: 56px;
}   
.image-list{
  margin-top: .75rem; 
  ion-col{
    padding: 0px;
    margin-right: 1rem;
  }
}
.progress-caption{
  position: absolute;
  top: 50%;
  left: 50%;
}
.remove-icon{  
  position: absolute;
  top: -15%;
  right: -15%;
  font-size: 20px;
  cursor: pointer;
}