.tab-badge{
    background: var(--ion-color-cardinal);
    border-radius: 50%;
    font-size: 10px;
    padding: 2px 2px;
    width: 16px;
    height: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 3px;
}
.icon-warning{
    position: absolute;
    width: 12.8px;
    height: 12.8px;
    color: #F33C45;
    z-index: 1;
    top: 0;
    right: 25%;
}