
@media print { 
  body {  
    max-width: auto!important;
    height: auto!important;
    left: auto!important;
    right: auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
    overflow: hidden;
    box-shadow: none!important;
  }
}