<div [ngClass]="{'input-rounded':styleType == 'rounded', 'input-noborder': styleType=='no-border' }">
  <ion-item class="item-highlight my-2 py-1" [class.pb-4]="!isValid" lines="none" style="width: 108%;">
    <ion-label position="floating" 
      [class.label-error]="!isValid" *ngIf="label">
      {{ label }}
    </ion-label>

    <ion-input [type]="!isShowPassword ? 'password': 'text'" [name]="name" class="form-textbox" [class.input-error]="!isValid"
      [(ngModel)]="inputModel" (ngModelChange)="onModelChangeEv($event)" (keyup)="onKeyUpEv($event)"
      [clearOnEdit]="false">
    </ion-input>

    <ion-button slot="end" fill="clear" [color]="!isValid ? 'danger':'medium'" class="eye-button"
      [class.eye-button-error]="!isValid" (click)="showHidePass()" tabindex="-1">
      <ion-icon slot="icon-only" [name]="!isShowPassword ? 'eye-off': 'eye'"></ion-icon>
    </ion-button>

    <span class="info-message" [class.info-message-error]="!isValid" *ngIf="infoMessage?.length">
      {{infoMessage}}
    </span>
  </ion-item>
</div>