<ion-header class="ion-no-border">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-button class='backButton' color="snow-white" (click)="modalController.dismiss()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-grid class="grid-title">
        <ion-row>
            <ion-col size="12">
                <div class="img-outer">
                    <img src="../../../assets/images/{{type.toLowerCase()}}-icon.png" alt="Doctor Farmaku">
                </div>
                <p *ngIf="type == 'Doctor'">Farmaku Dokter</p>
                <p *ngIf="type == 'Pharmacy'">Farmaku Apoteker</p>
                <p *ngIf="type == 'CS'">CS Farmaku</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
    <ion-grid class="chat-list">
        <ion-row>
            <ion-col size="12" class="chat-item">
                <ion-row>
                    <ion-col size="1.75">
                        <div class="img-outer">
                            <img src="../../../assets/images/{{type.toLowerCase()}}-icon.png" alt="Doctor Farmaku">
                        </div>
                    </ion-col>
                    <ion-col size="8.1">
                        Halo Farmafiends, apabila anda ingin berkonsultasi tentang {{type == 'CS'?'produk':'obat'}} silakan kirimkan link produk dan pertanyaan Anda.
                    </ion-col> 
                    <ion-col size="auto">
                        09:30
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border srx-shadow">

  <ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="product-detail" *ngIf="productName">
                <ion-card>
                    <ion-row>
                        <ion-col size="1.75"> 
                            <img width="auto" height="auto" [src]="imgUrl" [alt]="productName" onerror="this.onerror=null;this.src='../../../../assets/images/no-image.png'" />
                        </ion-col>
                        <ion-col size="10.25" class="pl-2">
                            <ion-row>
                                <ion-col class="p" size="12">{{productName}}
                                </ion-col>
                                <ion-col class="p" size="12">{{ finalPrice | currency:'IDR':'Rp. ':'.0':'id' }}
                                </ion-col>
                            </ion-row>
                        </ion-col> 
                    </ion-row>
                </ion-card>
            </ion-col>
            <ion-col size="10.5"> 
                <ion-textarea placeholder="Type here and press enter.." [(ngModel)]="text"></ion-textarea> 
            </ion-col>
            <!-- <ion-col size="1.5">  
                <img src="../../../assets/icon/chat-icon.svg" alt="chat icon"> 
            </ion-col> -->
            <ion-col size="1.5" [ngClass]="text?.length>0?'actives':''" (click)="submit()">  
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.7296 15.0082L4.31423 2.78402C4.12287 2.68819 3.90792 2.64979 3.69527 2.67345C3.48263 2.69711 3.28134 2.78182 3.11565 2.91738C2.95743 3.05017 2.83932 3.22452 2.77463 3.42084C2.70993 3.61715 2.7012 3.82765 2.74942 4.02866L5.69037 14.8859H18.2421V17.1085H5.69037L2.70503 27.9324C2.65978 28.1003 2.6545 28.2765 2.68961 28.4467C2.72472 28.617 2.79925 28.7767 2.90719 28.9129C3.01514 29.0491 3.15349 29.158 3.31113 29.2309C3.46876 29.3038 3.64129 29.3387 3.81482 29.3327C3.98855 29.3316 4.15961 29.2897 4.31423 29.2104L28.7296 16.9863C28.9114 16.893 29.0639 16.7513 29.1705 16.5768C29.277 16.4023 29.3334 16.2017 29.3334 15.9972C29.3334 15.7927 29.277 15.5921 29.1705 15.4176C29.0639 15.2431 28.9114 15.1014 28.7296 15.0082Z" fill="#7A7B7C"/></svg>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
